body {
	background-color: #222;
	color: #cba;
	height: 100%;
	height: 100vh;
	display: flex;
	flex-flow: horizontal;
	margin: 0ex 0em;
	overflow: hidden;
}
body.mouseHide { cursor: none; }
body > div {
	flex: 1 1 100%;
	width: 100%;
	height: 100%;
}
a:link {
	color: #38a;
	text-decoration: none;
}
a:link:hover, .areaNav .navChapters > li:hover a:link {
	color: #7bd;
	text-decoration: underline;
}
table > tbody > tr.template { display: none; }
.areaNav {
	width: 12em;
	flex: 0 0 12em;
	overflow-y: scroll;
	overflow-x: hidden;
}
.areaNav > * {
	padding-top: 1ex;
}
.areaNav > form {
	white-space: nowrap;
}
.areaNav .infoBook {
	font-weight: bold;
	cursor: pointer;
	padding: 0ex 0.3em;
	border: 1px solid transparent;
}
.areaNav .infoBook::before {
	content: "ℹ";
}
.areaNav .template {
	display: none;
}
.areaNav .navChapters {
	white-space: nowrap;
}
.areaNav .navChapters > li {
	font-size: 110%;
}
.areaNav .navChapters > li:hover {
	background-color: #444;
	cursor: pointer;
}
.areaNav .navChapters > li.selected {
	background-color: #cba;
}
.areaNav .navChapters > li.selected a {
	color: #248;
}
.areaNav .navChapters > li.selected:hover a {
	color: #38a;
}

.textBox {
	overflow-y: scroll;
}
.textBox > div {
	width: 35em;
	margin: auto;
	line-height: 150%;
	background-color: #222;
}
.textBox img {
	max-width: 100%;
}
.textBox .textMarker {
	line-height: 0.5ex;
	position: absolute;
	left: 13em;
	top: 0px;
	opacity: 0;
	transition: opacity 5s ease-out;
	z-index: -1;
}
.textBox .textMarker::before {
	content: "▶";
}

div.overlay {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 5;
	background-color: #222c;
	margin: 0%;
	padding: 0%;
}
div.overlay.active {
	display: block;
}
div.overlay > .content {
	width: 92%;
	height: 92%;
	margin: auto;
	margin-top: 4%;
	background-color: #222;
	overflow-y: scroll;
}
div.overlay > .content h1 {
	text-align: center;
}
div.overlay > .content table {
	border-collapse: collapse;
	margin: auto;
}
div.overlay > .content th, div.overlay > .content td {
	border-top: 1px solid;
	padding: 0.2ex 0.3em;
}
div.overlay > .content th {
	text-align: left;
	padding-right: 1em;
	vertical-align: top;
}
div.overlay > .content td {
	white-space: pre-line;
}
div.overlay > .content img {
	max-width: 100%;
}
div.overlay > .close {
	position: absolute;
	right: 1%;
	width: 2em;
	z-index: 2;
	text-align: center;
	cursor: pointer;
}
div.overlay > .close:focus, div.overlay > .close:hover
		, .areaNav .infoBook:focus, .areaNav .infoBook:hover {
	outline: none;
	color: #fff;
	background-color: #444;
	border-color: #777;
}
div.overlay > .close::before {
	content: "☒";
	font: 200% bold;
}
.textBox:focus, div.overlay > .content:focus {
	outline: none;
}

